<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes"
    [class.selected]="hero === selectedHero"
    (click)="onSelect(hero)" routerLink="/heroes/detail/{{hero.id}}">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
    <img src="http://localhost:6969/{{ hero.email}}" height="20px" style="margin-left: 230px">
  </li>
</ul>
 
 <app-hero-detail [hero]="selectedHero"></app-hero-detail>

 <div>
  <label>Hero name:
    <input #heroName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="addHero(heroName.value); heroName.value=''">
    add
  </button>
</div>